/*
#####################################################################################################
#
# Copyright 2019 CIRAD-INRA
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, see <http://www.gnu.org/licenses/> or
# write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston,
# MA 02110-1301, USA.
#
# You should have received a copy of the CeCILL-C license with this program.
#If not see <http://www.cecill.info/licences/Licence_CeCILL-C_V1-en.txt>
#
# Intellectual property belongs to CIRAD and South Green developpement plateform
# Version 0.1.0 written by Sebastien RAVEL, François BONNOT, Sajid ALI, FOURNIER Elisabeth
#####################################################################################################
*/

.shiny-notification {
	position:fixed;
	top: calc(50%);
	left: calc(50%);
}


.calibrationTXT {
	text-align: left;
	font-size: medium;
	font-family: "Times New Roman", Times, serif;
}

.infoDiv {
	text-align: left;
	font-size: medium;
	font-family: "Times New Roman", Times, serif;
}

.home {
	text-align: justify;
	font-size: medium;
	font-family: "Times New Roman", Times, serif;
	margin : 20px 0px 0px 50px;
}
.calibrationHome {
	text-align: justify;
	text-indent:40px each-line;
	font-size: medium;
	font-family: "Times New Roman", Times, serif;
	margin : 0px 25px 50px 50px;
}

.analysisHome {
	text-align: justify;
	text-indent:40px each-line;
	font-size: medium;
	font-family: "Times New Roman", Times, serif;
	margin : 0px 50px 50px 25px;
}

.modal-lg {
    width: 90%;
}

.btn-img {
	background-color: #ffffff;
	color: #444;
	border: hidden;
}

#loading-content {
	position: absolute;
	background: #000000;
	opacity: 1;
	z-index: 100;
	left: 0;
	right: 0;
	height: 100%;
	text-align: center;
	color: #FFFFFF;
}

.spaceRow {
	margin-bottom: 15px;
}

.colorRow {
	margin-left: -30px;
}

.colourpicker{
	width: 40px;
	display:inline-block;
}

.content{
	overflow-y: auto;
	height: 94vh;
}
body{
	overflow-y: hidden;
}
